* {
  --primary: #9381FF;
  --dark-grey: #333333;
  --white: #FBFBFF;
  --black: #1D1D1D;
}

/* general css */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
  background-color: var(--white);
}

h1,
h2,
h3,
h4 {
  font-family: "open sans", sans-serif;
  color: var(--dark-grey);
}

p {
  font-family: "esteban", serif;
  font-size: 24px;
  color: var(--black);
  padding-top: 24px;
}

/* DESKTOP */

/* nav */

.topnav {
  display: flex;
  padding-left: 48px;
  padding-right: 48px;
  justify-content: space-between;
  align-items: center;
  padding-top: 32px;
}

.right-nav {
  display: flex;
  align-items: center;
}

.menu {
  padding-right: 32px;
}

a.menu-item {
  text-decoration: none;
  font-family: "open sans", sans-serif;
  font-size: 16px;
  color: var(--black);
  padding: 12px;
}

a.menu-item:hover {
  color: var(--white);
  background-color: rgba(147, 129, 255, 0.75);
}

a.menu-item:active {
  font-weight: 700;
}

button {
  appearance: none;
  box-shadow: none;
  border: 1px solid var(--black);
  font-family: "open sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: var(--white);
  background-color: var(--primary);
  height: 48px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 8px; 
  cursor: pointer;
}

button:hover {
  background-color: var(--white);
  border: 1px solid var(--dark-grey);
  color: var(--dark-grey);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.logo {
  width: 48px;
  height: 48px;
  padding-right: 32px;
}

.mobile-nav {
  display: none;
  position: absolute;
  top: 48px;
  left: 12px;
  right: 12px;
  padding-bottom: 32px;
  justify-content: space-between;
  align-items: center;

}


/* hero section */

div.hero {
  padding: 160px 162px 196px 162px;
  text-align: center;
}

h1 {
  font-weight: 800;
  font-size: 48px;
}

span {
  color: var(--primary);
}

span.italics {
  font-style: italic;
}


/* let's connect section */

section.lets-connect {
  width: 100%;
  background-color: var(--primary);
}

h4,
a.linkedin {
  text-decoration: none;
  font-size: 32px;
  font-weight: 700;
  color: var(--white);
  text-align: center;
  padding-top: 24px;
  padding-bottom: 24px;
  cursor: pointer;
}

i.fa-linkedin {
  padding-left: 24px;
}

h4:hover {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  scale: 105%;
  font-weight: 800px;
  transition: 0.2s;
}


/* my work section */

.work {
  padding: 80px 162px;
  background-color: #333333;
}

h2 {
  font-size: 32px;
  font-weight: 800;
  justify-items: baseline;
}

h2.dark {
  color: var(--white);
}

span.bar {
  font-weight: 400;
  color: var(--white);
  padding-left: 16px;
  padding-right: 16px;
}

span.behance {
  font-size: 24px;
  font-weight: 400;
  color: var(--white);
}

span.behance-mobile {
  display: none;
}

span.behance:hover {
  color: var(--primary);
  transition: 0.2s;
  cursor: pointer;
}

i.fa-square-behance {
  padding-left: 4px;
  align-items: baseline;
}

.projects {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto; 
  gap: 1.6rem;
  padding-top: 48px;
  justify-content: space-evenly;
}

.case-study {
  max-width: 100%;
  height: auto;
}


/* about me section */

div.about {
  padding: 80px 162px;
}

/* divider */

hr {
  border-top: rgba(51, 51, 51, .2);
  margin-left: 162px;
  margin-right: 162px;
}


/* bottom section */

.view-site {
  padding: 80px 162px;
  text-align: center;
}

p.check-github {
  font-size: 32px;
  padding-bottom: 24px;
}

button.large {
  height: 80px;
  padding-left: 32px;
  padding-right: 32px;
  font-size: 32px;
}

button.mobile-bottom {
  display: none;
}

/* MOBILE */

@media (max-width: 816px) {

  .mobile-nav {
    display: flex;
    background-color: var(--white);
  }

  .toggle-button {
    display: flex;
  }

  .topnav {
    display: none;
  }

  .mobile-logo {
    height: 32px;
    width: 32px;
    top: 48px;
    left: 12px;
  }

  button.mobile {
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    height: 32px;
  }

  .toggle-button {
    text-decoration: none;
    color: var(--dark-grey);
    flex-direction: column;
    justify-content: space-between;
  }

  div.hero {
    position: relative;
    min-width: 320px;
    text-align: center;
    padding: 0;
  }

  h1 {
    font-size: 32px;
    padding: 116px 27.5px 0 27.5px;
  }

  p.subhero {
    min-width: 320px;
    font-size: 16px;
    padding: 24px 27.5px 48px 27.5px;
  }

  section.lets-connect {
    width: 100vw;
    position: absolute;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    background-color: var(--primary);
    height: 48px;
    z-index:10
  }
  
  
  h4,
  a.linkedin {
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    color: var(--white);
    text-align: center;
    padding-top: 12px;
    padding-bottom: 12px;
    cursor: pointer;
  }
  
  i.fa-linkedin {
    padding-left: 12px;
  }
  
  .work {
    position: relative;
    padding: 96px 12px 48px;
    background-color: var(--dark-grey);
  }
  
  h2 {
    font-size: 20px;
    font-weight: 800;
    justify-items: baseline;
  }
  
  h2.dark {
    color: var(--white);
  }
  
  span.bar {
    display: none;
  }
  
  span.behance {
    display: none;
  }

  span.behance-mobile {
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    color: var(--white);
  }
  
  span.behance-mobile:hover {
    color: var(--primary);
    transition: 0.2s;
    cursor: pointer;
  }
  
  i.fa-square-behance {
    padding-left: 4px;
    align-items: baseline;
  }
  
  .projects {
    display: block;
    padding-top: 48px;
    justify-content: center;
    text-align: center;
  }
  
  .case-study {
    max-width: 100%;
    height: auto;
    padding: 12px;;
  }

  div.about {
    padding: 48px 12px 48px;
  }

  hr {
    border-top: rgba(51, 51, 51, .2);
    margin-left: 12px;
    margin-right: 12px;
  }

  p {
    font-size: 16px;
  }

  .view-site {
    padding: 48px 12px;
    text-align: center;
  }
  
  p.check-github {
    font-size: 20px;
    padding-bottom: 24px;
  }
  
  button.large {
    font-size: 16px;
    height: 48px;
    padding: 0 16px;
  }

}